## Deliverable 3. Create a Travel Itinerary Map.

In [46]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [50]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(205)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Ugoofaaru,MV,83.48,clear sky,5.67,73.00,Ungoofaaru Inn
1,7,Senanga,ZM,76.10,broken clouds,-16.12,23.27,Christopher Nasilele House
2,15,Victoria,HK,84.00,light rain,22.29,114.16,Mini Hotel Central
3,16,Inongo,CD,75.16,overcast clouds,-1.95,18.27,Hotel Du Lac
4,23,Bousse,BF,83.34,broken clouds,12.66,-1.89,Maison d'hôtes EBEN-EZER DE BOUSSE
...,...,...,...,...,...,...,...,...
200,501,Coruche,PT,84.99,clear sky,38.96,-8.53,Luxury villa nearby Alentejo
201,508,Rabo De Peixe,PT,77.00,scattered clouds,37.80,-25.58,Quinta das Giestas
202,509,Seminole,US,86.00,moderate rain,28.71,-81.21,WHITNEY-WOLCOTT HOUSE ON LAKE CHARM
203,510,Kati,ML,86.00,broken clouds,12.74,-8.07,AUBERGE DIATIGUIYA
204,512,Zurrieq,MT,84.00,few clouds,35.83,14.47,Ta' Bertu Host Family Bed & Breakfast

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather and Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
info_df = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=info_df)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Seminole']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Seminole']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Satellite Beach"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Venice"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Largo"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
202,509,Seminole,US,86.0,moderate rain,28.71,-81.21,WHITNEY-WOLCOTT HOUSE ON LAKE CHARM

In [74]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0,5:7]
end = vacation_end.to_numpy()[0,5:7]
stop1 = vacation_stop1.to_numpy()[0,5:7]
stop2 = vacation_stop2.to_numpy()[0,5:7]
stop3 = vacation_stop3.to_numpy()[0,5:7]
start[0:1]

array([28.71], dtype=object)

In [78]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3])

In [80]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,509,Seminole,US,86.00,moderate rain,28.71,-81.21,WHITNEY-WOLCOTT HOUSE ON LAKE CHARM
1,509,Seminole,US,86.00,moderate rain,28.71,-81.21,WHITNEY-WOLCOTT HOUSE ON LAKE CHARM
2,662,Satellite Beach,US,89.01,light rain,28.18,-80.59,Radisson Suite Hotel Oceanfront
3,245,Venice,US,90.00,scattered clouds,27.10,-82.45,A Beach Retreat
4,440,Largo,US,90.00,scattered clouds,27.91,-82.79,Hampton Inn & Suites Largo

In [88]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather and Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
hotel_info

Figure(layout=FigureLayout(height='420px'))

In [87]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(directions)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))